.rounded-circle {
    border-radius: 50% !important;
  }
.img-fluid {
    max-width: 100%;
    height: auto;
  }
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
  }